.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  &Inner {
    display: flex;
    justify-content: space-between;
  }
}

.avatarContainer {
  display: flex;
  flex-direction: column;
}

.avatarButton {
  margin-top: 20px;
  align-items: center;
}

.fieldsContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonsWrapper {
  display: inline-flex;
  justify-content: flex-end;

  & > * {
    margin: 0 0 0 100px;
  }
}
