@import '../../../assets/scss/variables';

.wizardWrapper {
  background-color: $ghost-white;
  padding: 60px 100px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
