.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  &Inner {
    display: flex;
    justify-content: space-between;
  }
}

.avatarContainer {
  display: flex;
  flex-direction: column;
}

.avatarButton {
  align-items: center;
}

.fieldsContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
