.formInner {
  display: flex;
  justify-content: space-between;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
}

.avatarButton {
  align-items: center;
}

.fieldsContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
