@import '../../../assets/scss/variables';

.button {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: -60px;
  left: -434px;
  text-transform: none;
  color: $spindle;

  svg {
    width: 36px;
    height: 36px;
  }
}
