@import '../../../assets/scss/variables';

.selectbox {
  display: flex;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid $spindle;
  overflow: hidden;
  resize: none;
  background-color: $white;
  text-align: left;

  &:focus {
    border: 1px solid $columbia-blue;
    background-color: transparent;
  }

  &Error {
    border: 1px solid $red;
  }

  div > & {
    padding: 2.5px 0;
  }

  div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.chips {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  margin: 2px;
}
