@import '../../../assets/scss/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fieldWrapper {
  position: relative;
  width: 100%;
}

.minusButton {
  position: absolute;
  right: -40px;
  top: 22px;
  color: $spindle;
}

.addButton {
  color: $spindle;
  text-transform: none;
  font-weight: bold;
}
