@import '../../../assets/scss/variables';

.button {
  padding: 12px 12px;
  font-size: 14px;
  border: none;
  color: $spindle;
  min-width: fit-content;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border-radius: 50px;

  &Icon {
    position: relative;
    top: 3px;
    left: -6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
