@import '../../assets/scss/variables';

.header {
  background-color: $royal-blue;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  width: 300px;
  justify-content: space-between;

  &_button {
    &:hover {
      color: $white;
    }
  }
}

.container {
  width: $container-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $white;
  font-weight: bolder;
  font-style: italic;
  font-size: 18px;
  cursor: pointer;
}
