.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &Container {
    display: flex;
    justify-content: space-between;
    min-height: 500px;
  }
}

.avatarContainer {
  display: flex;
  flex-direction: column;
}

.avatarButton {
  margin-top: 20px;
  align-items: center;
}

.fieldsContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}
