@import '../../../assets/scss/variables';

.wrapper {
  width: $container-width;
  display: flex;
  flex-direction: column;
  //margin: 0 auto;
}

.titleWrapper {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
  color: $san-juan;
}

.content {
  background-color: $ghost-white;
}
