@import '../../../assets/scss/variables';

.wrapper {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  top: 5px;
  right: 14px;
  color: $spindle;

  &:hover {
    cursor: pointer;
  }
}
